.introducao {
  padding: 2.70rem 4.70rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
  align-items: center;
}
.introducao h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}
.introducao p {
  font-size: 1.4rem;
}
@media (max-width: 1210px) {
  .introducao {
    grid-template-columns: 1fr;
    padding: 2.7rem 1rem;
    justify-items: center;
    text-align: center;
  }
  .introducao img {
    max-width: 50vw;
  }
}
@media (max-width: 530px) {
  .introducao {
    padding: 2rem 1rem;
    gap: 2rem;
  }
  .introducao h1 {
    font-size: 2.34rem;
  }
  .introducao p {
    font-size: initial;
  }
}